<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">

      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center cursor-pointer" [routerLink]="['/']">
          <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500"
            alt="Company">
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <button class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 no-underline"
              [routerLink]="['/']" [routerLinkActive]="'text-info'"
              [routerLinkActiveOptions]="{ exact: true }">Home</button>
            <button class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 no-underline"
              [routerLink]="['/products']" [routerLinkActive]="'text-info'"
              [routerLinkActiveOptions]="{ exact: true }">Products</button>
            <button class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 no-underline"
              [routerLink]="['/products', 0, 'edit']" [routerLinkActive]="'text-info'"
              [routerLinkActiveOptions]="{ exact: true }">Add product</button>
            <button class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 no-underline"
              [routerLink]="['/about']" [routerLinkActive]="'text-info'"
              [routerLinkActiveOptions]="{ exact: true }">About</button>
          </div>
        </div>
      </div>

    </div>
  </div>

</nav>